@import "tailwindcss";
@font-face {
    font-family: technology;
    src: url("/fonts/technology.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: montserrat;
    src: url("/fonts/montserrat.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}